body {
    background-color: #101010;
}

.navbar {
    width: 80%;
    min-width: 340px;
    background:linear-gradient(to right,rgb(255, 0, 179) 4px, grey 1%);
    margin: auto;
    height: 60px;
}

.logo {
    font-size: 3em;
    min-width: 200px;
    display: inline-block;
    margin-left: 3%;
    height: inherit;
}

.menu {
    color: red;
    float: right;
    text-transform: uppercase;
    height: inherit;
}

.first ul {
    margin-left: 3%;
}

.menu ul li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 700;
    display: inline-block;
}

.first li {
    padding: 2px;
    margin: 0 2px;
}

.first li a {
    color: black;
    text-decoration: none;
    background-color: burlywood;
}

.first li a:current {
    color: black;
    background-color: yellow;
    /* transition: 1s; */
}
/* .first li a:hover {
    color: red;
    background-color: sienna;
    transition: 1s;
} */

.second {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
}


.second li a:hover {
    color: red;
    transition: 2s;
}

.third {
    display: none; 
    position: absolute;
    right: 10px;
    top: 60px;
    opacity: 0;
}

.third ul li {
    list-style: none;
    font-size: 1.6rem;
    /* width: 200px; */
    background-color: lawngreen;
}

.third ul li a {
    text-decoration: none;
}

.third ul li a:hover {
    background-color: black;

}



/*  welcome image  */
#welcome {
    background-image: url("home-bg.jpg");
    height: 60vh;
    width: 100%;
    margin: 0 0px;
    margin-top: -3%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 340px;
}

/* wecome message */
.welcome>h1 {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* facilities  */
#facility {
    height: auto;
    width: 84vw;
    margin: 0 7vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 340px;
}

.facility>div {
    width: auto;
    max-width: 240px;
    margin: -5vh 1vw 7vh 1vw;
    border: 2px dotted yellow;
    padding: 3%;
}

.facility h3 {
    text-align: center;
}

.facility i {
    width: 100%;
    margin-top: 4vh;
    margin-bottom: 1vh;
    text-align: center;
}

.facility div:hover {
    margin-top: -6vh;
    margin-bottom: 6vh;
}

.responsive {
    background-color: #C14000;
}

.easy-to-use {
    background-color: #009988;
}

.quick-support {
    background-color: #FFA500;
}

/* card */
#card {
    /* margin-left: 17%; */
    margin: 0 auto;
    width: 66%;
    height: auto;
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.card>div {
    width: 50%;
    min-width: 340px;
    flex-grow: 1;
}

.cardpic img {
    position: center;
    width: 100%;
    min-width: 240px;
    height: inherit;
    min-height: 340px;
    margin: 0;
}

.learnmore {
    position: relative;
    margin: auto;
    padding: 0 20px;
    box-sizing: border-box;
    color: #547380;
    height: auto;
    background-color: red;
}

.learnmore h2 {
    color: white;
    text-align: center;
}

/* pictures */
.viewmore {
    margin: auto;
    align-items: center;
}

.center {
    margin-left: auto;
    min-width: 340px;
    text-align: center;
    color: #547380;
}

.center1 {
    margin: 0 auto;
    text-align: center;
    color: #547380;
}

h1[class="center"] {
    color: white;
    font-size: 36px;
    margin-bottom: -4px;
    text-transform: uppercase;
}
body>hr{
min-width: 340px;
}
.pictures {
    position: relative;
    width: 66%;
    margin: auto;
    height: auto;
    background-color: brown;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.start {
    width: 30%;
    min-width: 195px;
    flex-grow: 1;
}

.end {
    width: 25%;
    min-width: 195px;
    flex-grow: 1;
}

#information {
    margin: 0%;
    width: 100%;
    min-width: 340px;
    height: auto;
    background-color: rgb(28, 28, 28);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #547380;
    padding-bottom: 5px;
}

.information>div {
    width: 33%;
    min-width: 340px;
    padding: 2px;
    margin: auto;
    height: 254px;
    flex-grow: 1;
    flex-shrink: 1;
}

.course td {
    text-align: left;
}

.website ul {
    padding: 0;
}

.website ul li {
    text-decoration: none;
    list-style: none;
    text-align: left;
}

.course h2 {
    color: white;
}

.course ul li a {
    color: #547380;
    text-decoration: none;
}

.course ul li a:hover {
    color: white;
}

#social {
    margin: 1% 0;
    width: 100%;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    min-width: 340px;
}

.copyright {
    width: 30%;
    max-width: 340px;
    margin: auto;
}

.social-icon {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: right;
    align-content: center;
    text-align: right;
    align-items: right;
    justify-items: right;
}

.social-icon div {

    background-color: silver;
    margin: 15px;
    padding: 5px 8px;

}

.apple {
    max-width: 340px;
}
#Garv{
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}
@media only screen and (max-width:1200px) {
    .start {
        width: 33%;
    }

    .end {
        width: 50%;
    }

}

@media only screen and (max-width:992px) {
    .navbar {
        width: 94%;
        margin: 0 auto;
    }

    .first li {
        font-size: 1.1rem;
        padding: 2px;
        margin: 0 1px;
    }
}

@media only screen and (max-width:768px) {
    .navbar {
        width: 100%;
        margin: 0;
    }

    .logo {
        min-width: 150px;
        margin-left: 1%;
    }

    .first li {
        font-size: 0rem;
        padding: 0px;
        margin: 0px;
    }

    .first {
        visibility: hidden;
        height: 0;
        width: 0;
        margin: 0;
        padding: 0px;
    }

    .second {
        visibility: visible;
        height: inherit;
        width: 80px;
    }

    #card {
        width: 90%;
        min-width: 340px;
    }

    .pictures {
        min-width: 340px;
    }
    .third{
        display: none;
        opacity: 1;
    }
}